<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dependabot Gitlab</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <a class="version" href="https://dependabot-gitlab.gitlab.io/dependabot"><%= "v#{version}"%></a>
    <%= button_to "Logout", logout_path, method: :delete, title: "Logout user" unless AppConfig.anonymous_access %>
    <h1>Projects</h1>

    <%= form_with url: projects_path, method: :post do |form| %>
      <%= form.label :project_name, "Project path to add:" %>
      <%= form.text_field :project_name %>
      <%= form.label :access_token, "Access token: (optional)" %>
      <%= form.text_field :access_token %>
      <%= form.submit "Add" %>
    <% end %>

    <% flash.each do |type, msg| %>
      <p>
        <strong><%= type %></strong>: <%= msg %>
      </p>
    <% end %>

    <% @projects.each do |project| %>
      <header>
        <h2><%= link_to_if project.web_url, project.name, project.web_url %></h2>
      </header>
      <%= button_to "Sync", project_path(project.id), method: :put, title: "Sync project configuration" %>

      <table class="blueTable">
        <thead>
          <tr>
            <th>Package ecosystem</th>
            <th>Directory</th>
            <th>Cron</th>
            <th>Last executed</th>
            <th>Last execution errors</th>
            <th>Open merge requests</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% project.update_jobs.each do |job| %>
            <tr>
              <td><%= job.package_ecosystem %></td>
              <td><%= job.directory %></td>
              <td><%= job.cron %></td>
              <td><%= job.last_executed&.to_formatted_s(:long) %>
              <td><%= job.runs.last&.failures&.map(&:message)&.join("\n") %></td>
              <td>
                <%=
                  mrs = open_merge_requests(project, job.package_ecosystem, job.directory).length
                  link_to_if(mrs > 0, mrs, open_mrs_url(project, job.package_ecosystem, job.directory))
                %>
              </td>
              <td>
                <%= button_to "Execute", job_execute_path(job.id), method: :put, title: "Execute job now" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </body>
</html>
